<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">
    <Properties>
        <Property name="pid">????</Property>
        <Property name="logPattern">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:pid}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx</Property>
        <Property name="fileLogPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %t / %l / %r / %p: %m\n</Property>
        <Property name="logPath">logs</Property>
        <Property name="fileName">${logPath}/%d{yyyy-MM-dd}.log</Property>

        <!-- SizeBasedTriggeringPolicy class 初始化时按 byte 计算, 这里设定 256MB -->
        <Property name="fileSplitSize">264192</Property>

        <!-- 设定每一天都会新建一份日志文件 -->
        <Property name="fileSplitTime">1</Property>
        <Property name="encoding">UTF-8</Property>

        <!-- 设定 log 的最大存放日期, 30 天以前的 log 会被清除 -->
        <Property name="maxSurviveTime">30d</Property>
    </Properties>

    <Appenders>
        <Console name="developLog" target="SYSTEM_OUT" follow="true">
            <PatternLayout charset="${encoding}" pattern="${logPattern}"/>
            <ThresholdFilter level="debug" onMatch="accept" onMismatch="deny"/>
        </Console>

        <RollingFile name="warnFile" fileName="${logPath}/warn.log" filePattern="${logPath}/warn_%d{yyyy-MM-dd}.log">
            <PatternLayout charset="${encoding}" pattern="${fileLogPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${fileSplitTime}"/>
                <SizeBasedTriggeringPolicy size="${fileSplitSize}"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="error" onMatch="deny" onMismatch="neutral"/>
                <ThresholdFilter level="warn" onMatch="accept" onMismatch="deny"/>
            </Filters>
            <DefaultRolloverStrategy>
                <Delete basePath="${logPath}" maxDepth="1">
                    <IfFileName glob="warn_%d{yyyy-MM-dd}.log" />
                    <IfLastModified age="${maxSurviveTime}"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="errorFile" fileName="${logPath}/error.log" filePattern="${logPath}/error_%d{yyyy-MM-dd}.log">
            <PatternLayout charset="${encoding}" pattern="${fileLogPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${fileSplitTime}"/>
                <SizeBasedTriggeringPolicy size="${fileSplitSize}"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${logPath}" maxDepth="1">
                    <IfFileName glob="error_%d{yyyy-MM-dd}.log" />
                    <IfLastModified age="${maxSurviveTime}"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncLogger name="com.ethan.in" level="warn" includeLocation="true">
            <AppenderRef ref="warnFile"/>
        </AsyncLogger>

        <AsyncLogger name="com.ethan.in" level="error" includeLocation="true">
            <AppenderRef ref="errorFile"/>
        </AsyncLogger>

        <AsyncLogger name="org.mybatis" level="debug" includeLocation="true">
            <AppenderRef ref="developLog"/>
        </AsyncLogger>

        <Root level="info" includeLocation="true">
            <AppenderRef ref="developLog"/>
            <AppenderRef level="warn" ref="warnFile"/>
            <AppenderRef level="error" ref="errorFile"/>
        </Root>
    </Loggers>
</Configuration>